html,body,h3,div {
  font-family: 'Montserrat',sans-serif,Helvetica;
  letter-spacing: 0.1em;
  font-style: normal;
  font-weight: normal;
  transition: color 0.2s ease-in-out;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.section-1{
  font-family: 'Libre Baskerville', serif;
  text-transform: none;
}


.treatments .image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height:300px;
  width:100%;
}
.padding-0 {
  padding:0px;
}
.calendar {
  width: 350px;
  height: 265px; 
  margin:0 auto;
}
.treatments .item .title {
  font-size: 20px;
    text-transform: uppercase;
    line-height: 60px;
    word-break: break-word;
    font-weight: bold;
    text-overflow: ellipsis;
    height: 60px;
}
.treatments .item .itemContent.active {
  border:solid 3px #333;
}
.centered {
  text-align: center;
}
.treatments .item .itemContent {
  border:solid 3px #e1e1e1;
  margin: 16px 8px;
}
.treatments .item .duration {
  line-height: 40px;
  padding: 10px 10px;
  /* soft yellow */
  background: #fbf4ef;
}
.selectBtn {
  /* pink hard */
  background:#ecdce9;
  cursor:pointer;
  text-align: center;
  line-height: 40px;
  padding: 10px;
  font-weight: bold;
}
.no-visible {
  display: none;
}
.treatments .border-bottom {
  border-bottom: solid 1px #ccc;
  margin:0px 0px;
   
}
.marginTop20{
  margin-top:20px;
}


@media only screen and (max-width: 348px) and (max-height: 812px) {
  .calendar .fix {
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
